* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
}
body {
    background-color: black;
    text-align: center;
}
.flex {
    display: flex;
}
.sensor {
    width: 220px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #252525;
    border-radius: 30px;
    box-shadow: 0px 0px 5px -3px #fff;
}
.temp {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}